/* box dimention */
/* div
{
     height: 200px; 
     width: 300px; 
     background-color: #bbbbaa;
     height:100px;
     width:500px;
     background-color: aquamarine;
     
}  */
/* p{
    width: 10%;
    background-color: blueviolet;
} */
/* limiting width */
/* td.description 
{
     min-width: 450px; 
     max-width: 650px; 
     text-align: left;
      padding: 5px;
       margin: 0px;
    } */
    /* Limiting height */
    /* h2, p { width: 400px; font-size: 90%; line-height: 1.2em;}
    h2 { color: #0088dd; border-bottom: 1px solid #0088dd;}
     p { min-height: 10px; max-height: 30px;
        border: 1px solid red;}  */

 /* overflow */
 /* p{ */
     /* max-height: 50px; */
     /* border:1px solid red; */
     /* overflow:visible */
     /* overflow: hidden; */
     /* overflow: scroll; */
 /* } */

 /* border width */
 /* p{
     border-width: thick;
     border-color: red;
     border-style: dotted;
 } */
 /* one by one */
 /* p{
     border-style: solid;
     border-top-width: thin ;
     border-bottom-width: thin ;
     border-right-width: thin ;
     border-left-width: thin ;
 } */
 /* shorthand */
 /* p{
     border-width: 1px 2px 3px 4px;
     border-style: dotted;
 } */
 /* border style */
 /* p{
     border-style: dashed; 
     border-style: dotted; 
     border-style: groove; 
     border-style: double;
     border-style: inset;
     border-style: outset;
} */
/* border color */
/* p{
     border-style:dashed ;
     border-color: peru;
} */

/* border shorthand */
/* p{
     border: 2px solid red;
} */

/* padding */
/* p{
     border: 2px solid red;
     padding: 10px 20px 30px 40px;
     padding-top: 10px;
} */
/* margin */
/* p{
     border: 2px solid red;
     margin: 50px;   
     margin: 2px 4px 50px 10px;  
     margin-top: 10px; 
}
#p2{
     margin-top: 50px;
} */

/* centering content */
/* p{
     border: 2px solid red;
     width: 300px;
     padding: 50px;

}

p.example { margin: 10px auto 10px auto;
        text-align: left; 
} */

/* change Inline block */
/* li{
     display: inline;
     margin: 10px;
}

li{
     display: none;
     margin: 10px;
} 

li.coming-soon { display: none;} */

/* li 
{ display: inline; 
      margin-right: 10px;
     } li.coming-soon
     { visibility: hidden;} */

/* border images */
/* .one{
     border: 20px solid transparent;
     padding: 10px;
     border-image: url(./images/connect-the-dots.png)30 round;
}

.two{
     border: 20px solid transparent;
     padding: 10px;
     border-image: url(./images/connect-the-dots.png)30 repeat ;
} */

/* box shadow */
/* .one{
     width: 200px;
     box-shadow: -5px -5px 5px 5px red;
} */

/* rounded corners */
/* p{
     width: 200px;
     border: 2px solid red;
     margin-left: auto;
     margin-right: auto;
     padding: 20px;
     border-radius: 20px; 
     background-color: black;
     color: white;
     border-top-right-radius:20px ;
} */
/* body{
     background-color: black;
}
p{
     background-color: white;
     color: white;
     width: 50px;
     height: 50px;
     border-radius:50% ;
} */
/* img{
     width: 100px;
     height: 100px;
     border: 2px solid;
     border-radius: 50%;
} */

/* book-example */
body {    font-size: 80%;    
     font-family: "Courier New", Courier, monospace;  
       letter-spacing: 0.15em;     background-color: #efefef;} 
         #page {    max-width: 940px;    min-width: 720px;   
           margin: 10px auto 10px auto;    padding: 20px; 
              border: 4px double #000;    background-color: #ffffff;} 
                #logo {    width: 150px;    margin: 10px auto 25px auto;} 
                  ul {    width: 570px;    padding: 15px; 
                       margin: 0px auto 0px auto; 
                          border-top: 2px solid #000; 
                             border-bottom: 1px solid #000; 
                                text-align: center;} 
                                  li {    display: inline;    margin: 0px 3px;}
                                     p {    text-align: center;
                                            width: 600px; 
                                                margin: 20px auto 20px auto;
                                                     font-weight: normal;}
                                                     a {    color: #000000; 
                                                          text-transform: uppercase;
                                                              text-decoration: none;
                                                                  padding: 6px 18px 5px 18px;}
                                                                     a:hover, 
                                                                     a.on {    color: #cc3333;  
                                                                        background-color: #ffffff;} 





